# Python
app/venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/terraform.tfvars
*.tfvars.backup

# Environment
.env
.env.*

# SSH Keys
*.pem

# VS Code
.vscode/

# OSF
.DS_Store
Thumbs.db

# Logs
*.log
